<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.conchighperf.Mapper.SkuStockMapper">
  <resultMap id="BaseResultMap" type="com.study.conchighperf.POJO.SkuStock">
    <!--@mbg.generated-->
    <id column="id" property="id" />
    <result column="stock" property="stock" />
    <result column="max_stock" property="maxStock" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, stock, max_stock
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from sku_stock
    where id = #{id}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from sku_stock
    where id = #{id}
  </delete>
  <insert id="insert" parameterType="com.study.conchighperf.POJO.SkuStock">
    <!--@mbg.generated-->
    insert into sku_stock (id, stock, max_stock)
    values (#{id}, #{stock}, #{maxStock})
  </insert>
  <insert id="insertSelective" parameterType="com.study.conchighperf.POJO.SkuStock">
    <!--@mbg.generated-->
    insert into sku_stock
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="stock != null">
        stock,
      </if>
      <if test="maxStock != null">
        max_stock,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id},
      </if>
      <if test="stock != null">
        #{stock},
      </if>
      <if test="maxStock != null">
        #{maxStock},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.study.conchighperf.POJO.SkuStock">
    <!--@mbg.generated-->
    update sku_stock
    <set>
      <if test="stock != null">
        stock = #{stock},
      </if>
      <if test="maxStock != null">
        max_stock = #{maxStock},
      </if>
    </set>
    where id = #{id}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.study.conchighperf.POJO.SkuStock">
    <!--@mbg.generated-->
    update sku_stock
    set stock = #{stock},
      max_stock = #{maxStock}
    where id = #{id}
  </update>
  <select id="findStockById" resultType="int">
select stock from sku_stock where id=#{id}
  </select>
  <update id="updateStock">
  update sku_stock set stock=#{stock} where id=#{id}
  </update>

</mapper>